
:root{
	--black-color: rgba(0, 0, 0, 1);
	--white-color:rgba(255, 255, 255, 1);
	--gray-color:rgba(171, 174, 181, 1);
	--darkgray-color:rgba(51, 52, 55, 1);
	--whitegay-color:rgba(216, 221, 228, 1);
	--graywhite-color:rgba(171, 174, 181, 1);
	--brightgray-color:rgba(255, 255, 255, 0.15);
}


* {
	padding: 0px;
	margin: 0px;
	border: none;
	font-family: Manrope;
}
body{
	background-color: var(--black-color);
	overflow-x: hidden;
}
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

/* Основные стили */

.main_wt_btn{
	border: 2px solid transparent;
	background-color: var(--white-color);
	color: var(--black-color);
	border-radius: 100px;
	padding: 8px 24px;
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: 0em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 15px;
	transition: all .2s ease-out;
}
.main_wt_btn:hover{
	border: 2px solid var(--white-color);
	background: none;
	color: var(--white-color);
}
.main_tr_btn{
	border: 2px solid var(--white-color);
	background: none;
	color: var(--white-color);
	border-radius: 100px;
	padding: 8px 24px;
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: 0em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 15px;
	transition: all .2s ease-out;
}
.main_tr_btn:hover{
	border: 2px solid var(--white-color);
	background: var(--white-color);
	color: var(--black-color);
}
.main_gr_btn{
	border: 2px solid var(--brightgray-color);
	background: none;
	color: var(--brightgray-color);
	border-radius: 100px;
	padding: 8px 24px;
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: 0em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 15px;
	transition: all .2s ease-out;
	width: 100%;
	justify-content: center;
}
.main_gr_btn:hover{
	border: 2px solid var(--white-color);
	color: var(--white-color);
	
}
.main_sm_thin{
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
	color: var(--white-color);
}
.main_sm{
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0em;
	color: var(--white-color);
	white-space:pre-wrap;
}
.title{
	font-size: 28px;
	font-weight: 700;
	line-height: 38px;
	letter-spacing: -0.01em;
	color: var(--white-color);
	white-space:pre-wrap;
}
.nav_menu{
	display: flex;
	align-items: center;
	column-gap: 32px;
}
.nav_link{
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: center;
	color: var(--white-color);
	transition: all .2s ease-out;
}
.nav_link:hover{
	color: var(--gray-color);
}
.arrow-left{
	left: 3px !important;
	top: 7px  !important;
}
.arrow-right{
	left: 19px !important;
	top: -13px  !important;

}
.handle{
	margin-left: 0 !important;
}
.hamburger-inner{
	background-color: white !important;
	height: 2px !important;
	width: 26px !important;
}
.hamburger-inner::after{
	background-color: white !important;
	height: 2px !important;
	width: 26px !important;
}
.hamburger-inner::before{
	background-color: white !important;
	height: 2px !important;
	width: 26px !important;
}
@media(max-width:1180px){
	.main_sm{
		font-size: 18px;
		font-weight: 500;
		line-height: 25px;
		letter-spacing: 0em;
		text-align: left;

	}
}
@media(max-width:428px){
	.main_wt_btn{
		font-size: 16px;
		font-weight: 700;
		line-height: 25px;
		letter-spacing: 0em;
		width: 100%;
		justify-content: center;
	}
	.main_tr_btn{
		font-size: 15px;
		font-weight: 700;
		line-height: 25px;
		letter-spacing: 0em;
		width: 100%;
		justify-content: center;
	}
	.main_gr_btn{
		font-size: 15px;
		font-weight: 700;
		line-height: 25px;
		letter-spacing: 0em;
		width: 100%;
		justify-content: center;
	}
	.title{
		font-size: 28px;
		font-weight: 700;
		line-height: 38px;
		letter-spacing: 0em;
		text-align: left;
	}
	.main_sm{
		font-size: 18px;
		font-weight: 500;
		line-height: 25px;
		letter-spacing: 0em;
	}
	.main_sm_gray{
		font-size: 18px;
		font-weight: 500;
		line-height: 25px;
		letter-spacing: 0em;
		
	}
}
@media(max-width:400px){
	.main_wt_btn{
		padding: 8px 14px;
		
	}
	.main_gr_btn{
		padding: 8px 14px;
	}
	.main_tr_btn{
		padding: 8px 14px;
	}

}